<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>JEDAI</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	function funcao1(){
		var x;
		var r=confirm("Deseja Excluir!");
		if (r==true) { x="você pressionou OK!"; }
		else{ x="Você pressionou Cancelar!"; }
		document.getElementById("demo").innerHTML=x;
	}
</script>
</head>
<body>
<div class="container">  
	<br>
	<h1 style="text-align: center;">Jedai Forces</h1>
	<br>
	<div class="row"> 
		<table class="table table-bordered">
			<thead class="table-dark">
				<th>ID</th>
				<th>Nome</th>
				<th>Ultimo Nome</th>
				<th>Ações</th>
			</thead>
			<tbody>
	
				<tr th:each="jedai: ${aljedai}">
				<td th:text="${jedai.id}"></td>
				<td th:text="${jedai.nome}"></td>
				<td th:text="${jedai.ultimoNome}"></td>
				<td>
					<!--  <button type="button" class="btn btn-warning btn-sm" id="editar" data-toggle="modal" th:attr="data-target='#m'+${jedai.id}">Editar</button>-->
					<a th:href="@{/update-jedai/{id}(id=${jedai.id})}" data-toggle="modal" th:attr="data-target='#m'+${jedai.id}">editar</a>
					<a th:href="@{delete/{id}(id=${jedai.id})}" onclick="funcao1()">Delete</a>
					
					<!-- Modal -->
					<div class="modal fade" th:id="'m'+${jedai.id}" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Fechar">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<h1>Alterar Produtos</h1>
									<form th:action="@{/update-jedai/{id}(id=${jedai.id})}" th:object="${aljedai}" method="POST" id="ediat-jedai">
										<div class="form-group">
											<input type="text" class="form-control" aria-describedby="emailHelp" name="nome" id="nome"
												th:value="${jedai.nome}">
										</div>
										<br>
										<div class="form-group">
											<input type="text" class="form-control" aria-describedby="emailHelp" name="ultimoNome"
												id="quantidade" th:value="${jedai.ultimoNome}">
										</div>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
									<button type="submit" class="btn btn-primary">Salvar
										mudanças</button>
								</div>
								</form>
							</div>
						</div>
					</div> <!-- Modal -->
					
					<!-- Modal  deletar-->
					<div class="modal" id="myModal" tabindex="-1">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title">Modal title</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					        <p>Modal body text goes here.</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					        <button type="button" th:href="@{delete/{id}(id=${jedai.id})}" class="btn btn-primary">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- Modal -->
				</td>
				
			</tr> 
			</tbody>
		</table>
	</div>
</div>
	

	<a href="new-jedai">Criar um novo</a>

</body>
</html>